table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
}

th {
    height: 30px;
    text-align: left;
    background-color: rgba(7, 218, 60, 0.808);
    color: white;
}
td {
    vertical-align: bottom;
    height: 30px;
}
th, td {
    padding: 15px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
