
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

h1 {
    font-family: "Sniglet", cursive;
    font-weight: 200px;
}
p, h3, td, th { 
    font-family: "Rubik", cursive;
}

th {
    font-size: 23px;
}

.container-fluid {
    margin: 0;
    padding: 0;
}
section {
    margin: 40px 0;
    padding: 0;
}

/* HEADER */
header {
    background-color: white;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
}
.header__inner {
    display: flex;
    width: 960px;
    height: 156px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: absolute;
    margin: 0 auto;
}
.header__inner-2 {
    cursor: pointer;
}
.header__inner-3 {
    cursor: pointer;
}
.header__inner-2:hover{
    opacity: 0.8;
}
.header__inner-3:hover{
    opacity: 0.8;
}

/* BANNER */
#banner {
    background: url(https://www.kbc.ast.ac.jp/ryugaku/assets/img/bg_mv_pc.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    margin: 0;
    position: relative;
    
}
.banner__text {
    display: flex;
    justify-content: center;
    width: 95%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;    
    
}
.banner__text-1 {
    background-color: yellowgreen;
    opacity: 0;
    flex-basis: 70%;
}




/* Section 1 */
.question-box {
    width: 80%;
    margin: 20px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
   
}
.section-1 .question-content {
    width: 100%;
    height: auto;
    border: solid 1px;
    padding: 20px;
    transition: 1s;
    /* display: none; */
   
    
}
.question-img {
    position: relative;
   
}
.question-img img {
    width: 100%;
    margin: 0;
 
}
.question-img .title-img {
    z-index: -1;
}
.question-img .plus-btn {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    z-index: 1; 
    cursor: pointer;
}
.question-img .minus-btn {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px; 
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}

.plus-btn:hover {
    opacity: 0;
}
.plus-btn:hover .question-content{
    display: block ;
}

.course-container {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    height: auto;
}
.course {
    display: flex-column;
    width: 30%;
    background: #e0edff ;
    padding: 15px;
    height: auto;

}
    

/* Section 2 */
.section-2 {
    background: url(https://www.kbc.ast.ac.jp/ryugaku/assets/img/bg_lattice.png);
    padding-top: 40px;
}


/* Open campus and Consultation */
.flex-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin:auto;
    margin-top: 20px;
}

.flex__item1 {
    flex-basis:  48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;

}
.flex__item1 img{
    width: 100%;
    border-radius: 7px;
    background-color: white;
}

.flex__item1 .table {
    width: 100%;
}
.flex__item1 .table th, tr, td {
    background-color: white;
}

.btn {
    background-color: rgb(255, 81, 0);
    font-size: 25px;
    border: rgb(255, 81, 0);
    margin-bottom: 40px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;

}

/* Campus Life */
.carousel {
    width: 100%;
    height: auto;
    margin: 30px 0;
  }

  /* Examination fee */
  .banner-free {
    background-color: rgb(255, 81, 0) ;
    display: flex;
    justify-content: center;
    height: 300px;
    padding: 40px;
    margin: 0;
    margin-top: 15px;
  }
  
  /* Contact */
  .banner-contact {
    position: relative;
    margin: 60px 0;
    padding: 40px 0 0 0;
    background-color: #191878;
    color: #fff;
    font-weight: 700;
    line-height: 1.85;
    letter-spacing: .05em;
    text-align: center;
    font-size: 30px;
    height: 200px;
  }
  .banner-contact::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    border: 8px solid transparent;
    border-top: 10px solid #191878;
    border-bottom: 0;
  }
  .sns-btn {
      display: flex;
      justify-content: center;
    
  }

.sns-btn img{
    width: 100px;
    margin: 10px;
    cursor: pointer;
    margin-bottom: 100px;
}
.sns-btn img:hover {
    opacity: 0.8;
}

/* FOOTER */
footer {
    text-align: center;
    background: #191878;
    color: white;
    height: 50px;
    padding-top: 15px;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .banner__text-2 h1 {
        font-size: 25px ;
       
    }
    .banner__text-2 {
        width: 250px;
    }
    .banner__text {
        top: 30%;
        right: 5%;
    }
    #banner {
        background-position: center;
        background-size: 300%;
        height: 60vh;
        background-repeat: no-repeat;      
    }
    .header__inner-2, .header__inner-3 {
        display: none;
    }
    .header__inner-1 {
        width: 300px;
        transform: translateX(20em);
    }
        
    h1 {
        font-size: 30px;
    }
    .course {
        width: 100%;
        margin: 10px;
        
    }
    .btn {
        width: 80%;
        font-size: 20px;
        padding: 10px 20px;
        
    }

    .banner-contact {
        padding: 25px;
        padding-top: 40px;
        font-size: 15px;
      }
    
    .contact {
        width: 90%;
        padding-left: 10px;
        
    }
    .sns-btn img {
      width: 60px;
    }

    
}